
  <div>
    <p id="intro" class="subtitle">
      A unique landscape, an ideal background 
      <br>can be generated for you.
    
    </p>
  </div> 
  <div class="container">

    <img src="/leer.png" sizes="sm:100vw md:50vw lg:200px"/>

    <div class="buttons">
      <form method="POST" action="/landscape">
        <button class="ontopbtn">
          generate
        </button>
      </form>
    </div>

  </div>

  <div class="infolink">
  <button id="help-button" style="visibility: hidden;">*</button>
  <a id="info-a" href="http://start.johannamichel.com/remoteness-insularity-difficult-topography/">info</a>      
</div>