<div>
    <p id="intro" class="subtitle">
      This landscape is unique and only for you.  
      Recommend this AI with pleasure, but let it work for you only once.
    </p>

<div class="container">

    <img src="{{ displayedLandscape.image }}" sizes="sm:100vw md:50vw lg:200px"/>
    <div class="infolink">
        <a href="http://start.johannamichel.com/remoteness-insularity-difficult-topography/">info</a>
    </div>

    <div class="buttons">
      <button class="ontopbtn" id="btnDownload"> 
        <a href="{{ displayedLandscape.image }}" download="my-unique-landscape.jpg">download</a>
      </button>
    </div>

</div>
