<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/styles/main.css">
  <title>new landscapes</title>
</head>

<body>  
  {{{ body }}}
</body>
<script>
  const helpDivElement = document.getElementById('help-div')
  const helpButtonElement = document.getElementById('help-button')

  helpButtonElement.addEventListener("click", () => {
    if (helpDivElement.classList.contains('invisible')) {
    helpDivElement.classList.add('visible')
    helpDivElement.classList.remove('invisible')
    } else {
      helpDivElement.classList.remove('visible')
      helpDivElement.classList.add('invisible')
    }
  })

</script>
</html>